body {
     background-color: #ccc;
     color: #000;
}

#outer {
    width: 1024px;
    margin: 0px auto;
    background-color: #fff;
}

#outer #header {
    height: 110px;
    clear: both;
    background: -moz-linear-gradient(top, #000, #333);
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
    background: -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF#fff, endColorstr=#FF#000)";
    color: #fff;
    overflow: hidden;
}

#header #siteTitle {
    margin: 20px 0px 0px 40px;
}

#outer #container {
    overflow: hidden;
}

#container #content {
    width: 700px;
    float: left;
    overflow: hidden;
}

#container #sidebar {
    width: 250px;
    float: right;
}

#outer #footer {
    height: 45px;
    clear: both;
    font-size: 10px;
    margin: 40px 0px 0px 0px;
    text-align: center;
}

#errorMessage {
    color: #ff3333;
}

#foundMessage {
    color: #66ff66;
}

.backdrop {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .0;
	filter: alpha(opacity=0);
	z-index: 50;
	display: none;
}
 
.box {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 500px;
	height: 400px;
	background: #fff;
	z-index: 51;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #444;
	-webkit-box-shadow: 0px 0px 5px #444;
	box-shadow: 0px 0px 5px #444;
	display: none;
	clear: both;
}

#content12 {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 500px;
	height: 400px;
	background: #fff;
	z-index: 51;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #444;
	-webkit-box-shadow: 0px 0px 5px #444;
	box-shadow: 0px 0px 5px #444;
	display: none;
	clear: both;
}
 
.close {
	float:right;
	margin-right:6px;
	cursor:pointer;
	clear: both;
}

#lightContent {
	clear: both;
	margin-top: 10px;
}